*{
  margin: 0;
  padding: 0;

}
html{
  height: 100%;
}
body{
  height: 100%;
  background-image: url("images/Pinnacles-Nambung-National-Park-Western-Australia.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  height: 90px;
  width: 100%;
  background-color: dimgray;

  box-shadow: 0px 2px 4px rgba(0,0,0,0.144);

}

nav ul{
  float: right;
}
nav li{
  display: inline-block;
  margin-top: 30px;
  margin-right: 40px;
}
nav li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color:black;
  text-decoration: none;
}
nav ul li .active {
  color:cornflowerblue
}
nav img {
  height: 50px;
  position: left;
  top: 50%;
  margin: 20px;

}
p {
  text-align: center;
  background-color: grey;
  border: 15px yellowgreen;
  width: 300px;
  padding: 50px;
  margin: 20px;
}
